{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
      "no-console": 0,
      "no-undef":0
    }
}
