// Homepage related CSS

.homeHeader{
  height: 360px;
  color:#FFF;
  background-color:#1B1C1D;
  text-align: center;
}

.homeHero{
  padding-top: 50px;
}

.homeSubHero{
  vertical-align: middle;
  line-height: 400px;
}

.info{
  margin-left: 16%!important;
  margin-top:3%!important;
  margin-bottom: 3%!important;
}
