//
// Homepage related CSS
//

.homeHeader{
  height: 360px;
  color:#FFF;
  background-color:#1B1C1D;
  position:relative !important;
  bottom:92px;
  text-align: center;
}

.homeHero{
  padding-top: 80px;
  margin-top:6%
}

.homeSubHero{
  vertical-align: middle;
  line-height: 400px;
}

.homeContainer{
  //padding-bottom:40px;


}

// Some nasty menu CSS overides
.homeNavBar{
  z-index: 999999;
  margin:0px!important;
  border-radius: 0!important;
  padding:10px;
}

.homeNavBarContainer{
  background: #1B1C1D;
}

.ui.inverted.menu .active.item{
  background: transparent;
  border:none;
  border-bottom:2px solid #FFF;
}

a.item:hover, .ui.link.inverted.menu .item:hover {
  background: transparent!important;
}

.ui.inverted.menu .active.item {
  background: transparent!important;
}

.ui.inverted.menu a.item:active {
  background: transparent;
}

.ui.inverted.menu .item:before {
  background: transparent!important;
}

.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover{
  color: rgba(255, 255, 255, 0.7) !important;
}

Form{
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;

}

.start{
  background-color: #6435c9!important;
  min-width: 150px;
}


.col-img{
  padding-left: 17%!important;

}

.col-text{
  padding-left: 13%!important;
}

.container2{
  margin-top:50px!important;
  text-align: center;
  border:1px solid#E8E8E8;

}

.ready{
  border-right: 1px solid #E8E8E8;
}

.info{
  margin-left: 16%!important;
  margin-top:3%!important;
  margin-bottom: 3%!important;
}

.ready{
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left: 6%;
}

.ready2{
  padding-top: 1%;
  padding-right: 6%;
}



