/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
.navbar{
  background-color:#1B1C1D !important;
  max-height: 500px !important ;
  height: 93px !important;
  font-size: 20px;
}

.footer{
  height: 200px;
  color:#FFF;
  background-color:#1B1C1D;
  padding:20px;
  padding-top:40px;
}

.footer .social a{
  color:#FFF
}

.footer-social-icon{
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.center{
  text-align: center;
}
